#gifbox-container {
  width: 500px;
  height: 500px;
  background-color: black;
  color: white;
  font-size: 14px;
  text-align: center;
}

#image-container {
  -webkit-column-count: 3;
  -webkit-column-gap: 5px;
}

#image-container-search {
  border: 3px solid #F5F5DC;
  border-radius: 8px;
  background-image: url('chrome-extension://fibilfjapkolccfjhongbkjpjelodcpa/images/bg.png');
  width: 500px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  height: 200px;
}

.img-box {
  position: relative;
  display: inline-block;
  margin-bottom: 3px;
}
.img-box:hover {
  cursor: pointer;
}
.img-box:hover .img-box__bar {
  opacity: 1;
}
.img-box__bar {
  position: absolute;
  width: 100%;
  opacity: 0;
}
.img-box__bottom-bar {
  bottom: 0;
}
.img-box__bar__col {
  background-color: gray;
  color: #E0E0E0;
  float: left;
  width: 50%;
  text-align: center;
  outline: #E0E0E0 solid 1px;
  outline-offset: -1px;
}
.img-box__bar__col:hover {
  background-color: maroon;
}
.img-box__bar__col:active { 
    background: green;
}
.img-box__image {
  cursor: pointer;
  width: 100%;
}